body {
    background: white;
    color: #00AEEF;
}
button {
    color: #00AEEF;
    border-radius:10px;
}
button:hover {
    background: #00AEEF;
    color: white;
}

.navigation-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    border: 2px solid #00AEEF;  
    border-bottom: 0;
    
}

.column1 {
    grid-column: 1;
    border-right: 2px solid #00AEEF;
    padding: 20px;
}
.column2 {
    grid-column: 2;
    border-right: 2px solid #00AEEF;
    padding: 20px;
}
.column3 {
    grid-column: 3;
    border-right: 2px solid #00AEEF;
    padding: 20px;
}
.column4 {
    grid-column: 4;
    border-right: 2px solid #00AEEF;
    padding: 20px;
}
.column5 {
    grid-column: 5;
    padding: 20px;
}

.home-container {
    width: 100%;
    display:grid;
    grid-template-columns: 50% 50%;
    border: 2px solid #00AEEF;
}
.text-container {
    grid-column: 1;
    align-content: center;
    border-right: 2px solid #00AEEF;
    padding: 20px;
}
.image-container {
    grid-column: 2;
}

.container3 {
    width: 100%;
    border: 2px solid #00AEEF;
    border-top: 0;
}
.team-container {
    width: 90%;
    align-content: center;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}


.about-container {
    width: 90%;
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}

.contact-container{
    width: 100%;
    text-align: center;
    font-size: 25px;
    border: 2px solid #00AEEF;
    border-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.circle1 {
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding-top: 100%;
    border: 2px solid #00AEEF;
}

.circle1:hover {
    background: #00AEEF;
    color: white;
}

.circle2 {
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding-top: 100%;
    border: 2px solid #00AEEF;
}

.circle2:hover {
    background: #0000FF;
    color: white;
}

.circle3 {
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding-top: 100%;
    border: 2px solid #00AEEF;
}

.circle3:hover {
    background: #FF00FF;
    color: white;
}

.card { 
    position: relative;
    border-radius: 20%;
    width: 100%;
    height: auto;
    padding-top: 100%;
    border: 2px solid #00AEEF;
}

.card:hover {
    background: #00aeef;
    color: white;
}


.separator {
    width:  100%;
    height: 150px;
}

.center {
    margin: auto;
    text-align: center;
}

